<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Customer Detail page</title>
	<script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
	<div class="container">
		<div class="px-3 py-1 shadow navbar-fixed-top">
			<h1 class="text-dark text-center">客戶資料</h1>
		</div>

		<div class="row mt-3 px-5 my-2">
			<table class="table table-hover table-light table-striped table-bordered" th:if="${!customers.empty}">
				<thead>
					<tr>
						<th class="align-middle text-center">客戶編號</th>
						<th class="align-middle text-center">客戶名稱</th>
						<th class="align-middle text-center">客戶地點</th>
						<th class="align-middle text-center">編輯</th>
						<th class="align-middle text-center">編輯詳細資料</th>
						<th class="align-middle text-center">刪除</th>
						<th class="align-middle text-center">詳細資料</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer : ${customers}">
						<td class="align-middle text-center" th:text="${customer.id}"></td>
						<td class="align-middle text-center" th:text="${customer.name}"></td>
						<td class="align-middle text-center" th:text="${customer.county}"></td>
						<td class="align-middle text-center"><a class="btn btn-primary" th:href="@{/editCustomer/} + ${customer.id}">編輯</a></td>
						<td class="align-middle text-center"><a class="btn btn-primary" th:href="@{/editCustomerDetails/} + ${customer.id}">編輯詳細資料</a></td>
						<td class="align-middle text-center"><a class="btn btn-danger" th:href="@{/deleteCustomer/} + ${customer.id}">刪除</a></td>
						<td class="align-middle text-center"><a class="btn btn-success" th:href="@{/showCustomerDetails/} + ${customer.id}">詳細資料</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row mt-3 px-5 my-2" th:if="${customers.empty}">
			<h3>No Customers in the offer</h3>
		</div>

		<div class="row px-5 d-flex justify-content-end align-items-center my-3">
			<a th:href="@{/}" class="btn btn-outline-warning">Back</a>
		</div>
	</div>
</body>
</html>