<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Customer details page</title>
<script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="bg-warning p-3 rounded-bottom">
			<h1 class="text-dark text-center" th:text="${customer.name} + ' details'"></h1>
		</div>
		
		<div class="row mt-3 px-5">
			<h3>Mobile</h3>
			<input type="text" class="form-control" th:field="${customer.customerDetails.mobile}" readonly>
		</div>
		
		<div class="row mt-3 px-5">
			<h3>Email</h3>
			<input type="text" class="form-control" th:field="${customer.customerDetails.email}" readonly>
		</div>
		
		<div class="row mt-3 px-5" th:if="${customer.customerComments.empty}">
			<h3>There are no comments for this customer</h3>
		</div>
		
		<div class="row mt-3 px-5">
			<div th:if="${!customer.customerComments.empty}">
				<h3>Comment</h3>
				
				<ul class="list-group" th:each="cuscomerComment : ${customer.customerComments}">
					<li class="list-group-item" th:text="${cuscomerComment.content}"></li>
				</ul>
			</div>
		</div>
					
		<div class="row mt-3 px-5">
			<a th:href="@{/showCustomerOffer}" class="btn btn-outline-warning">Back</a>
		</div>
	</div>
</body>
</html>