<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer page</title>
<script src="js/jquery-3.4.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row g-3 p-3">
			<h1>客戶資料 Customer detail</h1>
		</div>

		<form class="row g-3">
			<div class="col-12 mt-4">
				<label class="form-label">客戶編號 Customer Number</label>
				<p>00001</p>
			</div>
			<div class="col-12 mt-4">
				<label class="form-label">客戶名稱 Name</label> <input type="text"
					class="form-control" placeholder="熊貓仔">
			</div>
			<div class="col-12 mt-4">
				<label class="form-label">客戶地點 County</label> <input type="text"
					class="form-control" placeholder="台北">
			</div>

			<div class="d-grid gap-2 d-md-block mt-4 p-3">
				<button type="submit" class="btn btn-outline-primary btn-lg" th:href="@{/saveOrUpdateCustomer/} + ${customer.id}">Save 儲存</button>
				<button type="button" class="btn btn-outline-danger btn-lg" th:href="@{/deleteCustome/} + ${customer.id}">Delete 刪除</button>
			</div>
		</form>
	</div>
</body>
</html>