<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>客戶資料 page</title>
	<script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
	<div class="container">
		<div class="px-3 py-1 shadow navbar-fixed-top">
			<h1 class="text-dark text-center" th:text="${customer.name} + ' details'"></h1>
		</div>
		
		<div class="row mt-3 px-5">
			<h3>手機號碼</h3>
			<input type="text" class="form-control" th:field="${customer.customerDetails.mobile}" readonly>
		</div>
		
		<div class="row mt-3 px-5">
			<h3>電子郵件</h3>
			<input type="text" class="form-control" th:field="${customer.customerDetails.email}" readonly>
		</div>
		
		<div class="row mt-3 px-5" th:if="${customer.customerComments.empty}">
			<h3>沒有客戶資料</h3>
		</div>
					
		<div class="row my-3 px-5">
			<a th:href="@{/showCustomerOffer}" class="btn btn-outline-warning">返回</a>
		</div>
	</div>
</body>
</html>