<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Customer comment form page</title>
	<script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<div class="container">
		<div class="bg-warning p-3 rounded-bottom">
			<h1 class="text-dark text-center">新增客戶評論</h1>
		</div>

		<form class="px-5 my-2" action="#" th:action="@{/processFormCustomerComment}" th:object="${customerComment}"
			method="post">

			<div class="form-group">
				<input type="hidden" class="form-control" th:field="*{id}">
			</div>

			<div class="form-group">
				<label>Customer</label>

				<select class="form-control" th:field="*{customer.id}">
					<option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}">
				</select>
			</div>

			<div class="form-group">
				<label>Content</label>
				<input type="text" class="form-control" th:field="*{content}">
			</div>


			<div class="form-row">
				<div class="col">
					<input class="btn btn-outline-success" type="submit" value="Submit">
				</div>
				<div class="col">
					<a th:href="@{/}" class="btn btn-outline-warning float-right">Back</a>
				</div>
			</div>
		</form>
	</div>
</body>

</html>