<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Shopping Card page</title>
<script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<div class="container">

		<form action="#" class="col g-3 p-5" th:action="@{/process-shopping-cart-details-form}"
			th:object="${shoppingCartDetails}" method="post">
			<div class="form-group">
				<input type="hidden" class="form-control" th:field="*{id}">
			</div>

			<div class="form-group">
				<label>商品名稱 Name</label> <input type="text" class="form-control"
					th:text="${tour.name}" th:value="${tour.name}">
			</div>
			<div class="form-group">
				<label class="form-label">商品數量 Quantity</label> <input type="text"
					class="form-control" th:field="*{shoppingCartDetails.quantity}">
			</div>

			<div class="form-row">
				<div class="col">
					<input class="btn btn-outline-success" type="submit"
						value="儲存 Save">
				</div>
				<div class="col ps-2">
					<a th:href="@{/}" class="btn btn-outline-warning float-right">取消
						Cancel</a>
				</div>
			</div>
		</form>
	</div>
</body>

</html>