<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer comment form page</title>
<script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm"></div>

			<div class="col-sm-8">
				<h1>Add new comment</h1>

				<form action="#" th:action="@{/processFormCustomerComment}" th:object="${customerComment}"
					method="post">

					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}">
					</div>
					
					<div class="form-group">
						<label>Customer</label>
						
						<select class="form-control" th:field="*{customer.id}">
							<option th:each="customer : ${customers}"
									th:value="${customer.id}"
									th:text="${customer.name}">
						</select>
					</div>
					
					<div class="form-group">
						<label>Content</label>
						<input type="text" class="form-control" th:field="*{content}">
					</div>


					<div class="form-row">
						<div class="col">
							<input class="btn btn-success" type="submit" value="Submit">
						</div>
						<div class="col">
							<a th:href="@{/}" class="btn btn-warning float-right">Back</a>
						</div>
					</div>
				</form>
			</div>

			<div class="col-sm"></div>
		</div>
	</div>
</body>
</html>