<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Form details page</title>
<script src="js/jquery-3.4.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm"></div>

			<div class="col-sm-8">
				<h1>Add/edit new details</h1>

				<form action="#" th:action="@{/processFormTourDetails}"
					th:object="${tour_Details}" method="post">

					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}">
					</div>

					<div class="form-group">
						<label>Country</label> <input type="text" class="form-control"
							th:field="*{country}">
					</div>
					
					<div class="form-group">
						<label>Description</label> 
						<textarea rows="20" class="form-control" th:field="*{description}"></textarea>
					</div>

					<div class="form-row">
						<div class="col">
							<input class="btn btn-success" type="submit" value="Submit">
						</div>
						<div class="col">
							<a th:href="@{/showOffer}" class="btn btn-warning float-right">Back</a>
						</div>
					</div>
				</form>
			</div>

			<div class="col-sm"></div>
		</div>
	</div>
</body>
</html>