<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Customer form details page</title>
	<script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<div class="container">

		<div class="bg-warning p-3 rounded-bottom">
			<h1 class="text-dark text-center">編輯客戶資料</h1>
		</div>

		<form class="px-5 my-2" action="#" th:action="@{/processFormCustomerDetails}" th:object="${customerDetails}" method="post">

			<div class="form-group">
				<input type="hidden" class="form-control" th:field="*{id}">
			</div>

			<div class="form-group">
				<label>Mobile</label> <input type="text" class="form-control" th:field="*{mobile}">
			</div>

			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" th:field="*{email}">
			</div>

			<div class="form-row">
				<div class="col">
					<input class="btn btn-outline-success" type="submit" value="Submit">
				</div>
				<div class="col">
					<a th:href="@{/showCustomerOffer}" class="btn btn-outline-warning float-right">Back</a>
				</div>
			</div>
		</form>
	</div>
</body>

</html>