<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>訂單列表</title>
<script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>訂單列表</h1>
		</div>

		<div class="row">
			<table class="table table-hover" th:if="${!orders.empty}">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">訂單編號</th>
						<th scope="col">訂單日期</th>
						<th scope="col">客戶編號</th>
						<th scope="col">訂單金額</th>
						<th scope="col">明細</th>
				
					</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${orders}">
						<td th:text="${orderStat.count}"></td>
						<td th:text="${order.orderNumber}"></td>
						<td th:text="${#dates.format(order.orderCreatedDate, 'yyyy/MM/dd')}"></td>
						<td th:text="${order.customerNumer}"></td>
						<td th:text="${order.orderAmount}"></td>
						<td><a class="btn btn-primary" th:href="@{/show-my-order-details/} + ${order.orderNumber}">明細</a></td>						
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row" th:if="${orders.empty}">
			<h3>尚無訂單</h3>
		</div>

		<div >
			<a th:href="@{/}" class="btn btn-warning">首頁</a>
		</div>
	</div>
</body>
</html>