<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>訂單明細列表頁</title>
<script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>訂單明細列表</h1>
		</div>

		<div class="row">
			<table class="table table-hover" th:if="${!orderDetails.empty}">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">訂單編號</th>
						<th scope="col">產品編號</th>
						<th scope="col">產品銷售數量</th>
						<th scope="col">銷售價格</th>
				
					</tr>
				</thead>
				<tbody>
					<tr th:each="orderDetail : ${orderDetails}">
						<td th:text="${orderDetailStat.count}"></td>
						<td th:text="${orderDetail.ordNum}"></td>
						<td th:text="${orderDetail.prodNum}"></td>
						<td th:text="${orderDetail.ordQty}"></td>
						<td th:text="${orderDetail.ordQty}"></td>												
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row" th:if="${orderDetails.empty}">
			<h3>沒有訂單明細</h3>
		</div>

		<div class="row">
			<a th:href="@{/order-detail-form}" class="btn btn-warning">返回</a>
		</div>
	</div>
</body>
</html>