<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>購物車 page</title>
	<script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script type=module th:src="@{/js/dialog-modal.js}"></script>
	<link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
	<div class="container">
		<div class="px-3 py-1 shadow navbar-fixed-top">
			<h1 class="text-dark text-center">購物車</h1>
		</div>

		<div class="row p-5">
			<table class="table table-hover table-light table-striped" th:if="${!shoppingCart.shoppingCartDetails.empty}">
				<thead>
					<tr>
						<th class="align-middle text-center" style="width: 0.5rem" scope="col">#</th>
						<th class="align-middle text-center" style="width: 15rem" scope="col">商品名稱</th>
						<th class="align-middle text-center" style="width: 0.5rem" scope="col">數量</th>
						<th class="align-middle text-center" style="width: 0.5rem" scope="col">單價</th>
						<th class="align-middle" style="width: 10rem" scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="shoppingCartDetails : ${shoppingCart.shoppingCartDetails}">
						<td class="align-middle text-center" th:text="${shoppingCartDetailsStat.count}"></td>
						<td class="align-middle text-center" th:text="${shoppingCartDetails.productName}"></td>
						<td class="align-middle text-right text-end" th:text="${shoppingCartDetails.quantity}"></td>
						<td class="align-middle text-right text-end" th:text="${#numbers.formatDecimal(shoppingCartDetails.productPrice, 0, 'COMMA', 2, 'POINT')}"></td>
						<td class="align-middle d-flex justify-content-center">
							<a 
								class="btn btn-outline-danger" 
								data-bs-toggle="modal" 
								data-bs-target="#staticBackdrop"
								th:data-bs-action-href="@{/shopping-cart-detail/} + ${shoppingCartDetails.id}"
								data-bs-modal-message-id="msg-delete-product">
								取消
							</a>
							</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="px-5 d-flex justify-content-end my-2" th:if="${!shoppingCart.shoppingCartDetails.empty}">
			<h3>總金額 NT$ 
				<span th:if="${!shoppingCart.shoppingCartDetails.empty}" 
					   class="text-danger" 
					   th:value="${shoppingCart.amount}"
					   th:text="${#numbers.formatDecimal(shoppingCart.amount, 0, 'COMMA', 2, 'POINT')}"></span>
				<span th:if="${shoppingCart.shoppingCartDetails.empty}" th:text="0"></span>
			</h3>
		</div>

		<div class="row px-5 my-2" th:if="${shoppingCart.shoppingCartDetails.empty}">
			<h3>沒有商品</h3>
		</div>
		
		<div class="row px-5 d-flex justify-content-end align-items-center my-3">
			<a style="width: 8rem;" th:href="@{/}" class="mx-5 text-center">繼續購物</a>
			<a style="width: 5rem;" th:href="@{/payment}" class="btn btn-outline-warning">結帳</a>
		</div>
	</div>
	<my-dialog-modal></my-dialog-modal>
</body>
</html>