<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shopping Cart page</title>
<script src="js/jquery-3.4.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="bg-warning p-3 rounded-bottom">
			<h1 class="text-dark text-center"></h1>
		</div>

		<div class="row p-5">
			<table class="table table-hover table-secondary" th:if="${!shoppingCarts.empty}">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">商品名稱</th>
						<th scope="col">數量</th>
						<th scope="col">單價</th>
						<th scope="col">小計</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="shoppingCart : ${shoppingCarts}">
						<td th:text="${shoppingCartsStat.count}"></td>
						<td th:text="${shoppingCarts.name}"></td>
						<td th:text="${shoppingCarts.quantity}"></td>
						<td th:text="${shoppingCarts.price}"></td>
						<td th:text="${shoppingCarts.price * shoppingCarts.quantity}"></td>
						<td><a class="btn btn-outline-danger" th:href="@{/shoppingCartDetails/} + ${shoppingCartDetails.id}">取消 Cancel</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="p-5 d-flex justify-content-end" th:if="${!shoppingCarts.empty}">
			<h3>總金額 NT$ 
			<input th:each="shoppingCartDetails : ${shoppingCartDetail}" 
				   class="text-danger" 
				   th:value="${(shoppingCartDetails.price * shoppingCartDetails.quantity).count}"
				   th:text="${shoppingCart.amount}"></h3>
		</div>

		<div class="row p-5" th:if="${shoppingCarts.empty}">
			<h3>沒有商品</h3>
		</div>

		<div class="row p-5">
			<a th:href="@{/}" class="mx-1">繼續購物</a>
			<a th:href="@{/}" class="btn btn-outline-warning">結帳</a>
		</div>
	</div>
</body>
</html>